<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/css/style.css" rel="stylesheet">
    <title>SAINT PAUL DU TERRAY</title>
</head>

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Saint Paul du Terray</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Manifestation</a></li>
                    <li><a href="#">Facturation</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="well col-lg-10 box-presentation">

        <h2>Simulation de coût d'un voyage pour un enfant :</h2>
        <p>
                <p>
                Famille {{ 'Famille '~simul.famNom }} avec {{ 'Famille '~simul.famNbenfant}} enfant(s) et un quotient familial de {{ 'Famille '~simul.famQF~'€' }} <BR/>
                {{ simul.simulNbEnfPartant }} enfant(s) partant en {{ sejour.SejIntitule }} </p> <BR/>

                Prix brut du séjour individuel :{{ sejour.SejMontantMBI~'€' }}<BR/>
                Réduction  sur Qutient Familial 10% : {{'-'~simul.simulReducQF~'€' }}<BR/>
                Réduction famille de {{ simul.simulNbEnfPartant }} enfants  : {{ '-'~simul.simulReducFamilleNombreuse~'€' }}<BR/>
                <BR/>
                Sous Total : {{ simul.simulSousTotal~'€' }} <BR/>
                <BR/>
                Réduction départ de plusieurs enfants 10% :{{ '-'~simul.simulReducDepartMultiple~'€' }} <BR/>
                Prix aprés réductions : {{ simul.simulTotalApresReduc~'€' }}<BR/>
                <h2>Net à payer aprés plafonement : {{ simul.simulTotalApresPlafond~'€' }}</h2><BR/>
                <BR/>
                Remarque : vous deverez verser au total {{ simul.simulTotalApresPlafond }}*{{ simul.simulNbEnfPartant }}={{ simul.simulTotalDepartMultiple~'€' }}
                 <BR/>

        </p>
    </div>

</div>

</body>
</html>

